.button{
    position: absolute;
    top: .7em;
    right :1rem;
    display: none;
    width: 20px;
    height: 20px;
    justify-content: space-between;
    flex-direction: column;
}
.button .bar{
    width: 100%;
    height: 20px;
    background-color: white;
    margin: .2rem;
}
@media(max-width: 500px){
    .button{
        display: flex;
    }
    .nav{
        /* display: none; */
        width: 100%;
    }
    .nav ul{
        flex-direction: column;
        align-items: flex-start;
    }
    .nav li{
        text-align: center;
        padding: .3rem;
    }
    .nav li a{
        font-style: italic;
        b
    }
}